# 1. Определение этапов (stages)
stages:
  - deploy

# 2. Определение задачи (job) для деплоя
deploy_to_server:
  # Назначаем этап
  stage: deploy
  
  # Указываем, какой Runner должен выполнить эту задачу
  # ТЕГ ДОЛЖЕН СОВПАДАТЬ с тегом, который вы указали при регистрации!
  tags:
    - deploy  
  
  # Список команд, которые будет выполнять Shell Executor
  script:
    - echo "Начинаем процесс деплоя с использованием Docker Compose..."
    
    # ПЕРЕЙТИ В ДИРЕКТОРИЮ ПРОЕКТА: 
    # GitLab Runner по умолчанию клонирует репозиторий в папку /home/gitlab-runner/builds/...
    # Команда ниже переходит в папку с кодом, где должен лежать docker-compose.yml
    - cd $CI_PROJECT_DIR 
    
    # 1. Остановить старые контейнеры, чтобы избежать конфликтов и обновить образы
    - docker compose down --remove-orphans
    
    # 2. Собрать (если нужно) и запустить новые контейнеры в фоновом режиме (-d)
    - docker compose up -d --build

    - echo "Деплой завершен успешно!"
    
  # Условие: запускать только при push в ветку main (или master)
  only:
    - main